// 主色调
$master-color: #ff0000;
$sliver-color: #c52e27;
$notice-color: #ffc000 ;
$background-color1: #ebebeb;
$border-color1: #e5e5e5;
$font-color1: #333333;
$font-color2: #666666;
$font-color3: #999999;
$red: #cf010e;

.iosBuy{
  display: none;
}

